{:type :array,
 :len 10000,
 :element
 {:type :struct,
  :definition
  (["ag6ytmiqab" {:type :string, :bytes 11, :trim_nulls false}]
   ["mkgcbgvy3c" {:type :float, :bytes 4}]
   ["h8a7c5qe0e" {:type :int, :bytes 4, :signed false}]
   ["mzdsc7rrxd" {:type :int, :bytes 4, :signed true}]
   ["uy1r3cqc3e" {:type :int, :bytes 8, :signed false}]
   ["g0hcnrygk6" {:type :int, :bytes 1, :signed true}]
   ["0w66v1to02" {:type :float, :bytes 8}]
   ["8lr2ol91r3" {:type :float, :bytes 8}]
   ["k07o5hdttk" {:type :int, :bytes 8, :signed false}]
   ["x173cy16gi" {:type :string, :bytes 6, :trim_nulls false}]
   ["s2qqx7cyc5" {:type :float, :bytes 8}]
   ["au3e67mgzo" {:type :float, :bytes 4}]
   ["tgu09wm0bo" {:type :int, :bytes 1, :signed false}]
   ["ttlv6m859c" {:type :string, :bytes 16, :trim_nulls false}]
   ["lsx53dgn1y" {:type :int, :bytes 8, :signed false}]
   ["a6ak6sd29w" {:type :float, :bytes 4}]
   ["kcml0ururc" {:type :int, :bytes 1, :signed false}]
   ["03792u81z8" {:type :int, :bytes 2, :signed false}])}}
